
.ace-monokai .ace_gutter {
    background: #2b2b2b;
    color: #8f908a;
}
.ace-monokai {
    background: #272822;
    color: #f8f8f2;
}
.ace-monokai .ace_cursor {
    color: #f8f8f0;
}
.ace-monokai .ace_marker-layer .ace_selection {
    background: rgba(98, 98, 98, 0.6);
}
.ace-monokai .ace_marker-layer .ace_active-line {
    background: #3e3d32;
}
.ace-monokai .ace_keyword {
    color: #f92672;
}
.ace-monokai .ace_constant {
    color: #ae81ff;
}
.ace-monokai .ace_support {
    color: #66d9ef;
}
.ace-monokai .ace_string {
    color: #e6db74;
}
.ace-monokai .ace_comment {
    color: #75715e;
    font-style: italic;
}
.ace-monokai .ace_variable {
    color: #fd971f;
}
